flows.json
[{"id":"28f5b66d.403b6a","type":"tab","label":"SmartAgricultureApp","disabled":false,"info":""},{"id":"5a945235.44269c","type":"ibmiot in","z":"28f5b66d.403b6a","authentication":"apiKey","apiKey":"9ef4c145.2b68","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"agri1","applicationId":"","deviceType":"AgriDevice","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":300,"wires":[["15fc000f.ca7e2","b25aa79.96a8c58","a317df5b.8b108","7efde9a9.ca0508","7b6b82fb.444a6c"]]},{"id":"15fc000f.ca7e2","type":"debug","z":"28f5b66d.403b6a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":160,"wires":[]},{"id":"b25aa79.96a8c58","type":"function","z":"28f5b66d.403b6a","name":"Temp","func":"msg.payload = msg.payload.d.temperature\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":150,"y":440,"wires":[["9f9eb0d7.17bcc"]]},{"id":"9f9eb0d7.17bcc","type":"ui_gauge","z":"28f5b66d.403b6a","name":"Temperature","group":"3a6ed6ff.bc766a","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"degree Celcius","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":440,"wires":[]},{"id":"34195b0.f6b11a6","type":"ibmiot out","z":"28f5b66d.403b6a","authentication":"apiKey","apiKey":"9ef4c145.2b68","outputType":"cmd","deviceId":"agri2","deviceType":"AgriDevice","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":400,"y":80,"wires":[]},{"id":"2d053ac1.691a16","type":"ui_button","z":"28f5b66d.403b6a","name":"","group":"1343c653.ab0e4a","order":2,"width":0,"height":0,"passthru":false,"label":"Motor_ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"ON\"}","payloadType":"json","topic":"","x":130,"y":120,"wires":[["15fc000f.ca7e2","34195b0.f6b11a6"]]},{"id":"a9b2ead7.3715b8","type":"ui_button","z":"28f5b66d.403b6a","name":"","group":"1343c653.ab0e4a","order":3,"width":0,"height":0,"passthru":false,"label":"Motor_OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"command\":\"OFF\"}","payloadType":"json","topic":"","x":140,"y":200,"wires":[["15fc000f.ca7e2","34195b0.f6b11a6"]]},{"id":"482ef1f9.10494","type":"ui_gauge","z":"28f5b66d.403b6a","name":"Humidity","group":"c797b816.70e308","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":300,"y":520,"wires":[]},{"id":"7ce2ea5.9943314","type":"ui_gauge","z":"28f5b66d.403b6a","name":"Soil Moisture","group":"8be23b4e.a8bed8","order":1,"width":0,"height":0,"gtype":"donut","title":"","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":600,"wires":[]},{"id":"a317df5b.8b108","type":"function","z":"28f5b66d.403b6a","name":"humidity","func":"msg.payload = msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":120,"y":520,"wires":[["482ef1f9.10494"]]},{"id":"7efde9a9.ca0508","type":"function","z":"28f5b66d.403b6a","name":"soil_moisture","func":"msg.payload = msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":130,"y":600,"wires":[["7ce2ea5.9943314"]]},{"id":"7b6b82fb.444a6c","type":"http request","z":"28f5b66d.403b6a","name":"WeatherConditions","method":"GET","ret":"obj","paytoqs":"ignore","url":"api.openweathermap.org/data/2.5/weather?q=Faridabad, IN &appid=5800c3eac7d10b0b3c20da6bc0b234cb","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":340,"wires":[["e5134399.2e737","15fc000f.ca7e2","3b40e3bb.3192bc"]]},{"id":"e5134399.2e737","type":"function","z":"28f5b66d.403b6a","name":"Pressure","func":"msg.payload = msg.payload.main.pressure\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":420,"wires":[["2e198baf.ff4794"]]},{"id":"2e198baf.ff4794","type":"ui_text","z":"28f5b66d.403b6a","group":"f4699040.ac8ac","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":920,"y":420,"wires":[]},{"id":"e67c4f92.24959","type":"ui_text","z":"28f5b66d.403b6a","group":"69a793d4.3bec8c","order":0,"width":0,"height":0,"name":"","label":"Speed and Degree of Wind","format":"{{msg.payload}}","layout":"col-center","x":860,"y":480,"wires":[]},{"id":"3b40e3bb.3192bc","type":"function","z":"28f5b66d.403b6a","name":"wind","func":"msg.payload = msg.payload.wind\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":520,"wires":[["e67c4f92.24959"]]},{"id":"9ef4c145.2b68","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"3a6ed6ff.bc766a","type":"ui_group","z":"","name":"Temperature","tab":"1fa528dd.7716d7","order":2,"disp":true,"width":"6","collapse":false},{"id":"1343c653.ab0e4a","type":"ui_group","z":"","name":"MotorControls","tab":"8d6cf5d1.46ec78","order":1,"disp":true,"width":"6","collapse":false},{"id":"c797b816.70e308","type":"ui_group","z":"","name":"Humidity","tab":"1fa528dd.7716d7","order":3,"disp":true,"width":"6","collapse":false},{"id":"8be23b4e.a8bed8","type":"ui_group","z":"","name":"Soil Moisture","tab":"1fa528dd.7716d7","order":3,"disp":true,"width":"6","collapse":false},{"id":"f4699040.ac8ac","type":"ui_group","z":"","name":"Pressure","tab":"ce566fc6.500da","order":1,"disp":true,"width":"6","collapse":false},{"id":"69a793d4.3bec8c","type":"ui_group","z":"","name":"Wind","tab":"ce566fc6.500da","order":2,"disp":true,"width":"6","collapse":false},{"id":"1fa528dd.7716d7","type":"ui_tab","z":"","name":"Parameters","icon":"dashboard","disabled":false,"hidden":false},{"id":"8d6cf5d1.46ec78","type":"ui_tab","z":"","name":"Motor","icon":"dashboard","disabled":false,"hidden":false},{"id":"ce566fc6.500da","type":"ui_tab","z":"","name":"WeatherDetails","icon":"dashboard","disabled":false,"hidden":false}]